.a{
   margin: 50px 0px ;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}


.a-right{
   
    flex: 1;
    margin-bottom: 90px;
   
}

.a-card.bg{
   
    height: 100px,
   


}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
  
    overflow: hidden;

}


.a-title{
     font-weight: 400;
     margin:40px 40px;
     font-weight: bold;
     
}
.a-desc{
    margin:40px 30px;
}




@media screen and (max-width: 480px) {
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin:40px 30px;
   

    }
    
    .mapa{
        width: 350px;
        height: 200px;

    }
    
    .a-card-bg {
        margin:40px 30px;
    }
    .a-right{
        padding: 20px;
        
    }
    .a-desc{
        
        width: 320px;
       
    }
}