.misturnos{
    min-height: 40vh;
    margin: 50px 0 100px 0;
}
.turnos{
    background-color: var(--verde);
    margin: 40px;
    border-radius: 6px;

}
.wrapper{
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.btn-prim{
    background-color: red;
    border: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}
.btn-prim:hover{
    opacity: 0.8;
}


.titulo{
    background-color: green;
    border: 5px;
    padding: 20px 110px;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
}
.bodi{

    background-color: darkgrey;
}
.padre{
   color: aliceblue;
   display: flex;
    justify-content:center;
    align-items:center;
}
.btn-primary{
    
    
    background-color: var(--verde);
    position: relative;
    border-radius: 5px;
    text-transform: uppercase;
    color:var(--blanco-letra);
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary:hover{
    color:var(--blanco-letra);
    opacity: 0.8;
}
